In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# 1. show notebook working directory
import os
os.getcwd()

'C:\\Users\\saksham\\Downloads\\Consumer-Shopping-Behaviour-Analysis'

In [7]:
# 2. list files in current working directory
os.listdir()

['.ipynb_checkpoints', 'customer_shopping_behavior.csv', 'Untitled.ipynb']

In [8]:
df = pd.read_csv('customer_shopping_behavior.csv')

In [9]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   str
 3   Item Purchased          3900 non-null   str
 4   Category                3900 non-null   str
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   str
 7   Size                    3900 non-null   str
 8   Color                   3900 non-null   str
 9   Season                  3900 non-null   str
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   str
 12  Shipping Type           3900 non-null   str
 13  Discount Applied        3900 non-null   str
 14  Promo Code Used         3900 non-null   str
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   str
 17  Frequency of Purchases  3900 non-null   str
dtypes: float64(1), int64(4), str(13)
memory usage: 548.6 KB

In [11]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [12]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median))

In [13]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [14]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='str')

In [16]:
df = df.rename(columns = {'purchase_amount_(usd)': 'purchase_amount'})

In [17]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='str')

In [21]:
# Creating a column age_group
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [22]:
df[['age', 'age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [24]:
# creating column purchase_frequency_days
frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Monthly' : 30,
    'Quarterly' : 90,
    'Bi-Weekly' : 14,
    'Annually' : 365,
    'Every 3 Months' : 90,
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [25]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [26]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [27]:
df = df.drop('promo_code_used', axis=1)

In [28]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='str')

In [29]:
!pip install mysql-connector-python
!pip install sqlalchemy
!pip install pymysql

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/9c/88/bc13c33fca11acaf808bd1809d8602d78f5bb84f7b1e7b1a288c383a14fd/mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/16.5 MB 1.7 MB/s eta 0:00:10
   ---------------------------------------- 0.1/16.5 MB 1.7 MB/s eta 0:00:10
    --------------------------------------- 0.3/16.5 MB 2.1 MB/s eta 0:00:08
   - -------------------------------------- 0.5/16.5 MB 2.5 MB/s eta 0:00:07
   - -------------------------------------- 0.6/16.5 MB 3.0 MB/s eta 0:00:06
   - -------------------------------------- 0.6/16.5 MB 3.0 MB/s eta 0:00:06
   -- ------------------------------------- 0.9/16.5 MB 2.8 MB/s eta 0:00:06
   --- ------------------------------------ 1.4/16.5 MB 3.6 MB/s eta 0:00:05
   --- ------------------------------------ 1.6/16.5 MB 3.6 MB/s eta 0:00:05
   ---- ----------------------------------- 2.0/16.5 MB 4.1 MB/s eta 0:00:04
   ----- ---------------------------------- 2.1/16.5 MB 4.0 MB/s eta 0:00:04
   ------ --------------------------------- 2.5/16.5 MB 4.3 MB/s eta 0:00:04
   ------- -------------------------------- 2.9/16.5 MB 4.7 MB/s eta 0:00:03
   -------- ------------------------------- 3.3/16.5 MB 4.9 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/16.5 MB 5.2 MB/s eta 0:00:03
   --------- ------------------------------ 4.0/16.5 MB 5.1 MB/s eta 0:00:03
   ---------- ----------------------------- 4.5/16.5 MB 5.4 MB/s eta 0:00:03
   ----------- ---------------------------- 4.8/16.5 MB 5.5 MB/s eta 0:00:03
   ------------ --------------------------- 5.1/16.5 MB 5.7 MB/s eta 0:00:03
   ------------- -------------------------- 5.4/16.5 MB 5.7 MB/s eta 0:00:02
   ------------- -------------------------- 5.4/16.5 MB 5.7 MB/s eta 0:00:02
   ------------- -------------------------- 5.7/16.5 MB 5.4 MB/s eta 0:00:03
   -------------- ------------------------- 6.1/16.5 MB 5.6 MB/s eta 0:00:02
   --------------- ------------------------ 6.5/16.5 MB 5.6 MB/s eta 0:00:02
   ---------------- ----------------------- 6.6/16.5 MB 5.6 MB/s eta 0:00:02
   ---------------- ----------------------- 6.9/16.5 MB 5.5 MB/s eta 0:00:02
   ---------------- ----------------------- 7.0/16.5 MB 5.4 MB/s eta 0:00:02
   ----------------- ---------------------- 7.4/16.5 MB 5.5 MB/s eta 0:00:02
   ------------------ --------------------- 7.8/16.5 MB 5.6 MB/s eta 0:00:02
   ------------------- -------------------- 8.0/16.5 MB 5.6 MB/s eta 0:00:02
   -------------------- ------------------- 8.4/16.5 MB 5.7 MB/s eta 0:00:02
   -------------------- ------------------- 8.6/16.5 MB 5.7 MB/s eta 0:00:02
   --------------------- ------------------ 9.0/16.5 MB 5.7 MB/s eta 0:00:02
   ---------------------- ----------------- 9.4/16.5 MB 5.8 MB/s eta 0:00:02
   ----------------------- ---------------- 9.8/16.5 MB 5.8 MB/s eta 0:00:02
   ------------------------ --------------- 10.0/16.5 MB 5.9 MB/s eta 0:00:02
   ------------------------ --------------- 10.0/16.5 MB 5.9 MB/s eta 0:00:02
   ------------------------- -------------- 10.4/16.5 MB 6.0 MB/s eta 0:00:02
   ------------------------- -------------- 10.7/16.5 MB 6.1 MB/s eta 0:00:01
   -------------------------- ------------- 11.0/16.5 MB 6.4 MB/s eta 0:00:01
   --------------------------- ------------ 11.5/16.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------- ----------- 11.8/16.5 MB 6.5 MB/s eta 0:00:01
   ----------------------------- ---------- 12.3/16.5 MB 6.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.9/16.5 MB 6.6 MB/s eta 0:00:01
   ------------------------------- -------- 13.2/16.5 MB 6.7 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.5 MB 6.5 MB/s eta 0:00:01
   --------------------------------- ------ 13.8/16.5 MB 6.5 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 6.5 MB/s eta 0:00:01
   ---------------------------------- ----- 14.3/16.5 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.5 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.8/16.5 MB 6.5 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.5 MB 6.1 MB/s eta 0:00:01
   ------------------------------------ --- 15.3/16.5 MB 6.2 MB/s eta 0:00:01
   ------------------------------------- -- 15.6/16.5 MB 6.1 MB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  16.5/16.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 5.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

[notice] A new release of pip is available: 23.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/93/5f/e081490f8523adc0088f777e4ebad3cac21e498ec8a3d4067074e21447a1/sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl.metadata
  Downloading sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Obtaining dependency information for greenlet>=1 from https://files.pythonhosted.org/packages/1f/54/dcf9f737b96606f82f8dd05becfb8d238db0633dd7397d542a296fe9cad3/greenlet-3.3.1-cp311-cp311-win_amd64.whl.metadata
  Downloading greenlet-3.3.1-cp311-cp311-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saksham\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.2 MB/s eta 0:00:02
   ---- ----------------------------------- 0.2/2.1 MB 1.8 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 2.9 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 3.5 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 4.0 MB/s eta 0:00:01
   ------------------------- -------------- 1.4/2.1 MB 4.3 MB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.1 MB 4.0 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 3.8 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 2.0/2.1 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.9 MB/s eta 0:00:00
Downloading greenlet-3.3.1-cp311-cp311-win_amd64.whl (226 kB)
   ---------------------------------------- 0.0/226.5 kB ? eta -:--:--
   ---------------------------------------  225.3/226.5 kB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 226.5/226.5 kB 4.6 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.3.1 sqlalchemy-2.0.46

[notice] A new release of pip is available: 23.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/7c/4c/ad33b92b9864cbde84f259d5df035a6447f91891f5be77788e2a3892bce3/pymysql-1.1.2-py3-none-any.whl.metadata
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.3 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.3 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 45.3/45.3 kB 746.0 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

[notice] A new release of pip is available: 23.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "root"
password = quote_plus("S@kshamdeep12")
host = "localhost"
database = "consumer_analysis"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}/{database}"
)

In [33]:
df.to_sql(
    name = 'shopping_behavior',
    con = engine,
    if_exists = 'replace',
    index = False
)

3900

In [34]:
print(len(df))

3900